.sidebar-label {
    background-color: #dc3545;
    padding: 6px;
    border-radius: 4px;
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 4px;
    font-style: italic;
}
.sidebar-airdrop {
    background-color: #73ff63;
    padding: 6px;
    border-radius: 4px;
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 4px;
    font-style: italic;
}
.sidebar-presale {
    background-color: #5690f5;
    padding: 6px;
    border-radius: 4px;
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 4px;
    font-style: italic;
}
.sidebar-mint {
    background-color: #5690f5;
    padding: 6px;
    border-radius: 4px;
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 4px;
    font-style: italic;
}.sidebar-presale {
    background-color: #5690f5;
    padding: 6px;
    border-radius: 4px;
    font-size: 9px;
    color: #FFFFFF;
    margin-left: 4px;
    font-style: italic;
}